@keyframes heart-zoom {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes heart-sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.like-icon {
  transition: fill 0.3s ease;
}

.like-icon .core {
  transition: fill 0.3s ease;
}

.like-icon .main-body {
  transition: fill 0.3s 0.05s ease;
}

.like-icon:hover .core,
.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
}

.like-icon:active .core,
.like-icon:active .main-body {
  fill: var(--heart-fill-color);
  transition-duration: 0.03s;
}

.like-icon.is-liked .heart {
  animation: heart-zoom 0.3s 0.1s ease-in forwards;
}

.like-icon.is-liked .core {
  fill: var(--accent-color);
  transition: fill 0.3s ease;
}

.like-icon.is-liked .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.06s ease;
}

.like-icon.is-liked .contour {
  fill: var(--accent-color);
  transition: fill 0.3s 0.12s ease;
}

.like-icon.is-liked .sparks {
  opacity: 1;
  fill: var(--accent-color);
  animation: heart-sparks 0.3s 0.3s ease-in forwards;
}

.like-icon:not(.is-liked) .contour {
  transition: fill 0.1s linear;
}

.like-icon .sparks {
  opacity: 0;
  fill: transparent;
  transition: opacity 0.3s ease;
}
